@font-face {
    font-family: 'JoseonGulim';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index.css */
.cover {
    width: 100%; min-height:100vh;
    background: url('../images/bg.jpg') no-repeat center center / cover;
    position: relative; overflow: hidden;
}
/* -----------------------------------------------------------------------가운데 달 시작 */
.cover .moon {
    width: 808px;position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.08);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.cover .moon img {width: 100%;}
/* -----------------------------------------------------------------------가운데 달 끝! */
.cover .port {
    font-size: 2.125em; position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.cover .name {
    font-weight: 700;
    font-size: 3.125em; position: absolute;
    bottom: 10%; right: 15%; text-shadow:0 4px 10px rgba(0,0,0,0.2);
    animation: pulse_n 2s ease-in-out infinite;
}
@keyframes pulse_n {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
.cover .orbit * {
    font-family: 'JoseonGulim';
    font-size: 1.25em; 
    position: absolute;
}
.cover .orbit .item1 {top: 31%; left: 35%;}
.cover .orbit .item2 {top: 48%; right: 32%;}
.cover .orbit .item3 {bottom: 31%; left: 35%;}
/* -------------------------------------------------------------------intro시작 */
.intro {
    width: 100%; min-height: 100vh;
    background: url('../images/intro_bg.jpg') no-repeat center center / cover;
    position: relative; overflow: hidden;
    padding: 100px; display: flex; justify-content: space-between;
}
.intro > h2 {
    color: #FFF059; font-size: 200px;
    font-weight: 700; line-height: 0.55;
}
.intro h2 span {
    color: #FFF059; font-size: 200px; font-family: 'Playfair Display';
    font-weight: 700; line-height: 0.7;
}
.intro .description {
    display: flex; flex-flow: column nowrap;
    gap: 50px; justify-content: flex-start; align-items: center;
}

.intro .description .about {}
.intro .description .about h2 {
    font-weight: 1000; font-size: 30px;
    padding-bottom: 10px; line-height: 1.5;
}
.intro .description .about p {
    font-family: 'JoseonGulim'; font-size: 15px;
    line-height: 1.5;
}
.intro .description .profile {
    width: 350px; height: 370px;
    text-align: center;
}
.intro .description .profile img {height: 100%;}
.intro .description .personal {
    
}
.intro .description .personal .name {
    text-align: center; font-weight: 700;
    font-size: 1.25em; padding-bottom: 20px;
}
.intro .description .personal .name > span {font-size: 0.75em;}
.intro .description .personal dl {
    display: grid; gap: 10px;
    grid-template-columns: 120px 1fr;
    column-gap: 20px;
}
.intro .description .personal dl dt {
    font-weight: 1000; line-height: 1.5;
}
.intro .description .personal dl dd {
    line-height: 1.5; font-family: 'JoseonGulim';
}
.intro .resume {display: flex; flex-flow: column; gap: 50px;}
.intro .resume .right {}
.intro .resume .right h2 {
    font-weight: 1000; font-size: 30px;
    padding-bottom: 10px; line-height: 1.5;
}
.intro .resume .right dl {
    display: grid; gap: 10px;
    grid-template-columns: 120px 1fr;
    column-gap: 20px;
}
.intro .resume .right dl dt {
    font-weight: 1000; line-height: 1.5;
}
.intro .resume .right dl dd {
    line-height: 1.5; font-family: 'JoseonGulim';
}
.intro .resume .skill {}
.intro .resume .skill h2 {
    font-weight: 1000; font-size: 30px;
    padding-bottom: 10px; line-height: 1.5;}
.intro .resume .skill p {
    line-height: 1.5; font-family: 'JoseonGulim';
}
/* -------------------------------------------------------------------file시작 */
.file {
    width: 100%; height:100vh;
    position: relative; display: flex; flex-flow: column;
    justify-content: flex-end; overflow: hidden;
    transition: transform .8s cubic-bezier(.16,1,.3,1);
}
.file > h1 {
    z-index: 999; font-size: 15.625em; line-height: 0.6;
    position: absolute; bottom: 55px; right: 75px;
    color: #fff;
}
.file > h1 span {
    font-family: 'Playfair Display'; font-style: italic;
    line-height: 0.7; color: #fff;
}
.file .img {
    width: 100%; position: absolute;
}
.file .img img {
    width: 100%;
}
.file .img .kind {
    position: absolute; font-size: 1.563em; font-weight: 400;
    z-index: 1000; color: #222;
}
.file .first {z-index: 900;}
.file .first .year {
    top: 20px; right: 150px;
}
.file .second {z-index: 800;}
.file .second .wed_d {
    top: 20px; left: 100px;
}
.file .third {z-index: 700;}
.file .third .mo_d {
    top: 20px; right: 150px;
}
.file .fourth {z-index: 600;}
.file .fourth .vis_d {
    top: 20px; left: 340px;
}
.file .img:not(.first){
    transition: transform .7s cubic-bezier(.16,1,.3,1);
    cursor: pointer;
}

.file .img:not(.first):hover{
    transform: translateY(-20px);
}
/* -------------------------------------------------------------------웹디자인 시작 */
#wed_design {
    width: 100%; height:100vh;
    position: relative; overflow: hidden;
    background: url(../images/second_big.svg) center center / cover no-repeat; ; 
}
#wed_design .swiper {
    z-index: 1000;
    top: 300px; left: 160px; position: absolute;
    width: 100%; height: calc(100% - 360px);
}
#wed_design .swiper .swiper-wrapper {}
#wed_design .swiper .swiper-wrapper .swiper-slide {
    display: flex; height: 456px;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left {
    height: 516px; padding: 0 40px ; border-right: 1px solid #3C3C3C;
    height: fit-content;
}
#wed_design .royal .left {margin-left: 20px;}
#wed_design .hdex .left {margin-left: 40px;}
#wed_design .swiper .swiper-wrapper .swiper-slide .left * {color: #3C3C3C;}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .top {
    display: flex; gap: 25px; flex-flow: column nowrap;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .top .num_color {
    display: flex; justify-content: space-between;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .top h1 {
    font-family: 'Playfair Display'; font-size: 6.25em;
    letter-spacing: 1.1px; font-weight: 900; 
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .top .title {font-size: 0.938em;}
#wed_design .swiper .swiper-wrapper .swiper-slide .left dl dt {
    font-weight: 700;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .duration {
    padding: 20px 0; font-size: 0.938em;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .info {
    display:flex; padding: 8px 0;
    justify-content:space-between;
    align-items:center; border-bottom:1px solid #3C3C3C;
    font-size: 0.938em;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .left .info p:nth-child(1) {font-weight: 700;}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle {
    padding: 0 40px; display: flex; flex-flow: column nowrap;
    height: fit-content; height: 427.0px; justify-content: center;
    width: 500px;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle * {color: #3C3C3C;}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .mid {
    padding: 20px 0; 
}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .mid h2 {
    font-family: 'Bodoni Moda'; font-size: 1.25em;
    font-weight: 900; font-style: italic; padding-bottom: 15px;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .mid p {
    font-size: 0.938em;
}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .top p {line-height: 1.5;}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .center .keywords {display: flex; gap: 20px;}
#wed_design .swiper .swiper-wrapper .swiper-slide .middle .center .keywords p {
    border-radius: 50px; border: 1px solid #949494;
    padding: 5px 15px; line-height: 1.5;
}
#wed_design .swiper .swiper-wrapper .royal .left .top h1 {
    line-height: 0.8; text-align: center;
}
#wed_design .swiper .swiper-wrapper .hdex .left .top h1 {
    text-align: center;
}
#wed_design .swiper .swiper-wrapper .hdex .left .top .num_color .color {color: #D7FF00; font-weight: 900;}
#wed_design .swiper .swiper-wrapper .royal .left .top .num_color .color {color: #D72420; font-weight: 900;}
#wed_design .swiper .swiper-wrapper .espoir .left .top .num_color .color {color: #CE0E2D; font-weight: 900;}
/* 스와이퍼 버튼 나타내기 + 색상 변경하기 */
#wed_design .swiper .swiper-pagination {
    position: absolute;
    left: calc(50% - 160px);
    bottom: 40px;
    transform: translateX(-50%);
}
#wed_design .swiper .swiper-pagination-bullet {
    background: #3C3C3C;
}
#wed_design .swiper .swiper-pagination-bullet-active {
    background: #FFE800;
}
/* 목업 */
#wed_design .swiper-slide .right {
    display: flex; flex-flow: column;
    gap: 20px; justify-content: center; align-items: center;
}
#wed_design .swiper-slide .thum {
    height: 385px; width: 600px;
}
#wed_design .swiper-slide .thum img {
    width: 100%;
}
#wed_design .swiper-slide .move {
    display: flex; justify-content: center; gap: 10px;
}
#wed_design .swiper-slide .move li {}
#wed_design .swiper-slide .move li a {
    border-radius: 50px; border: 1px solid #949494;
    padding: 5px 15px; line-height: 1.5; 
}
#wed_design .espoir .move li a {
    background-color: #CE0E2D; color: #fff;
}
#wed_design .royal .move li a {
    background-color: #D72420; color: #fff;
}
#wed_design .hdex .move li a {
    background-color: #D7FF00; color: #3C3C3C;
}
#wed_design .espoir .move li a:hover {
    background-color: #fff; color: #3C3C3C;
    border: 1px solid #949494;
}
#wed_design .royal .move li a:hover {
    background-color: #fff; color: #3C3C3C;
    border: 1px solid #949494;
}
#wed_design .hdex .move li :hover {
    background-color: #fff; color: #3C3C3C;
    border: 1px solid #949494;
}
/* -------------------------------------------------------------------모바일(모청)디자인 시작 */
#mobile_design {
    width: 100%; height:100vh;
    position: relative; overflow: hidden;
}
#mobile_design img {
    height: 100%; width: 100%;
    object-fit: cover;
}
#mobile_design .wedding {
    display: flex; z-index: 1000;
    top: 300px; left: 160px; position: absolute;
    width: 100%; height: calc(100% - 360px);
}
#mobile_design .wedding .left {
    width: 464px; height: 516px; padding: 0 40px ; border-right: 1px solid #3C3C3C;
    height: fit-content;
}
#mobile_design .wedding .left * {color: #3C3C3C;}
#mobile_design .wedding .left .top {
    display: flex; gap: 25px; flex-flow: column nowrap;
}
#mobile_design .wedding .left .top .num_color {
    display: flex; justify-content: space-between;
}
#mobile_design .wedding .left .top h1 {
    font-family: 'Playfair Display'; font-size: 3.6em;
    letter-spacing: 1.1px; font-weight: 900; text-align: center;
}
#mobile_design .weddinge .left .top .title {font-size: 0.938em;}
#mobile_design .wedding .left dl dt {
    font-weight: 700;
}
#mobile_design .wedding .left .duration {
    padding: 20px 0; font-size: 0.938em;
}
#mobile_design .wedding .left .info {
    display:flex; padding: 8px 0;
    justify-content:space-between;
    align-items:center; border-bottom:1px solid #3C3C3C;
    font-size: 0.938em;
}
#mobile_design .wedding .left .info .tool {font-size: 0.9em; letter-spacing: -0.05em;}
#mobile_design .wedding .left .info p:nth-child(1) {font-weight: 700;}
#mobile_design .wedding .middle {
    padding: 0 40px; display: flex; flex-flow: column nowrap;
    height: 427.0px; justify-content: center;
}
#mobile_design .wedding .middle * {color: #3C3C3C;}
#mobile_design .wedding .middle .mid {
    padding: 20px 0; 
}
#mobile_design .wedding .middle .mid h2 {
    font-family: 'Bodoni Moda'; font-size: 1.25em;
    font-weight: 900; font-style: italic; padding-bottom: 15px;
}
#mobile_design .wedding .middle .mid p {
    font-size: 0.938em;
}
#mobile_design .wedding .middle .top p {line-height: 1.5;}
#mobile_design .wedding .middle .center .keywords {display: flex; gap: 20px;}
#mobile_design .wedding .middle .center .keywords p {
    border-radius: 50px; border: 1px solid #949494;
    padding: 5px 15px; line-height: 1.5;
}
#mobile_design .wedding .right {
    display: flex; flex-flow: column;
    gap: 20px; justify-content: center; align-items: center;
}
#mobile_design .wedding .thum {
    height: 385px; 
}
#mobile_design .wedding .thum img {
    width: 100%;
}
#mobile_design .wedding .move {
    display: flex; justify-content: center; gap: 10px;
}
#mobile_design .wedding .move li {}
#mobile_design .wedding .move li a {
    border-radius: 50px; border: 1px solid #949494;
    padding: 5px 15px; line-height: 1.5; color: #3C3C3C;
}
#mobile_design .wedding .move li a {
    background-color: #F3C430;
}
#mobile_design .wedding .move li a:hover {
    background-color: #fff; color: #3C3C3C;
    border: 1px solid #949494;
}
/* -------------------------------------------------------------------비주얼디자인 시작 */
#visual_design {
    width: 100%; height:100vh;
    position: relative; overflow: hidden;
}
#visual_design img {
    height: 100%; width: 100%;
    object-fit: cover;
}
#visual_design .visual_wrap {
    display: flex; z-index: 1000;
    top: 240px; left: 250px; position: absolute;
    width: 100%; height: calc(100% - 360px);
    flex-flow: column; gap: 40px;
}
#visual_design .visual_wrap .top {
    display: flex; gap: 100px;
}
#visual_design .visual_wrap .bottom {
    display: flex; gap: 100px;
}
#visual_design .visual_wrap li {}
#visual_design .visual_wrap li:hover {}
#visual_design .visual_wrap li button {
    border: 1px solid #D5D5D5;
    position: relative;
    overflow: hidden;
    width: 400px; height: 300px; padding: 20px;
    display: flex; flex-flow: column; justify-content: space-between;
    transition: transform 0.15s ease;
}
#visual_design .visual_wrap li button:hover {transform: scale(1.03);}
#visual_design button::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.2;
}
#visual_design .visual_wrap li button > * {
    position: relative; 
    z-index: 1; 
}
#visual_design .visual_wrap li button .title {
    display: flex; justify-content: space-between;
}
#visual_design .visual_wrap li button .title h3 {
    font-weight: 900; font-size: 1.875em;
    text-align: left;
}
#visual_design .visual_wrap li button .title h3>p {
    font-size: 10px;
}
#visual_design .visual_wrap li button .title dl {
    text-align: right;
}
#visual_design .visual_wrap li button .title dl dt {
    font-size: 0.725em; font-weight: 900;
}
#visual_design .visual_wrap li button .title dl dd {
    font-size: 0.725em; 
}
#visual_design .visual_wrap li button .date {
    text-align: right; font-weight: 900; font-size: 1.875em;
}
/* 버튼에 사진 넣기 */
#visual_design .top li:nth-child(1) button::before {
    background: url(../images/poster.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
#visual_design .top li:nth-child(2) button::before {
    background: url(../images/detail.png) no-repeat center 18%;
    background-size: cover;
    opacity: 0.2;
}
#visual_design .top li:nth-child(3) button::before {
    background: url(../images/wedding_poster.png) no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
#visual_design .bottom li:nth-child(1) button::before {
    background: url(../images/invitation_1.png) no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
#visual_design .bottom li:nth-child(2) button::before {
    background: url(../images/invitation_2.png) no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
#visual_design .bottom li:nth-child(3) button::before {
    background: url(../images/invitation_3.png) no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}
/* 모달 */
#visual_design .visual_modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none; justify-content: center;
    align-items: center; z-index: 99999;
}
#visual_design .visual_modal.on {
    display: flex;
}
#visual_design .modal_close {
    position: fixed; top: 30px;
    right: 50px; font-size: 50px;
    color: #fff; background: none;
    border: none; cursor: pointer;
}
#visual_design .modal_content {
    max-height: 90%;
    overflow: hidden;
    justify-content: center;
}
#visual_design .modal_content img {
    display: block;
    max-height: 90vh;
    width: auto;
}
#visual_design .modal_content.detail {
    height: 800px;
    overflow-y: auto;
}
#visual_design .modal_content.detail img {
    width: 1080px;
    height: auto;
    max-height: none;
}