@font-face {
    font-family: 'JoseonGulim';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index.css */
.cover {
    width: 100%; min-height:100vh;
    background: url('../images/bg.jpg') no-repeat center center / cover;
    position: relative; overflow: hidden;
}
/* -----------------------------------------------------------------------가운데 달 시작 */
.cover .moon {
    width: 808px;position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.08);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
.cover .moon img {width: 100%;}
/* -----------------------------------------------------------------------가운데 달 끝! */
.cover .port {
    font-size: 34px; position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.cover .name {
    font-weight: 700;
    font-size: 50px; position: absolute;
    bottom: 10%; right: 15%; text-shadow:0 4px 10px rgba(0,0,0,0.2);
    animation: pulse_n 2s ease-in-out infinite;
}
@keyframes pulse_n {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
.cover .orbit * {
    font-family: 'JoseonGulim';
    font-size: 20px; 
    position: absolute;
}
.cover .orbit .item1 {top: 31%; left: 35%;}
.cover .orbit .item2 {top: 48%; right: 32%;}
.cover .orbit .item3 {bottom: 31%; left: 35%;}
/* -------------------------------------------------------------------intro시작 */
.intro {
    width: 100%; min-height: 100vh;
    background: url('../images/intro_bg.jpg') no-repeat center center / cover;
    position: relative; overflow: hidden;
    padding: 100px; display: flex; 
}
.intro > h2 {
    color: #FFF059; font-size: 200px;
    font-weight: 700; line-height: 0.55;
}
.intro h2 span {
    color: #FFF059; font-size: 200px; font-family: 'Playfair Display';
    font-weight: 700; line-height: 0.7;
}
.intro .description {display: flex; flex-flow: column nowrap;}
.intro .description .about {}
.intro .description .about h2 {
    font-weight: 1000; font-size: 30px;
    padding-bottom: 10px; line-height: 1.5;
}
.intro .description .about p {
    font-family: 'JoseonGulim'; font-size: 15px;
    line-height: 1.5;
}
.intro .description .profile {
    width: 350px; height: 370px;
}
.intro .description .profile img {width: 100%;}
.intro .description .personal {}
.intro .description .personal .name {}
.intro .description .personal .e_name {}
.intro .description .personal dl {
    display: grid;
    grid-template-columns: 120px 1fr;
}